
html, body, #root {
  width: 100%;
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
@font-face {
  font-family: MF ShangHei;
  src: url('./assets/font/MFShangHei_Noncommercial-Regular.otf');
}

@font-face {
  font-family: PingFang SC;
  src: url('./assets/font/PingFang_SC.ttf');
}

#s10 {
  font-family: PingFang SC;
}

