.content {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  box-sizing: border-box;
}
/* .itemWrapper {
  border: 1px solid red;
} */
.itemWrapper:first {
  margin-left: 0;
}
.itemWrapper:last {
  margin-right: 0;
}
.title {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

