.main {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  background: #000 url('../../assets/img/s4/bg.png') no-repeat;
  // background: #000 url('../imgs/s4/bg.png') no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
